@model LeadGen.Code.Login
@{
    Layout = "~/Views/Shared/Email/_Layout.cshtml";
    string tokenKey = ViewData["tokenKey"].ToString();
    string confirmationUrl = HttpUtility.UrlDecode(Url.Action("Index", "Token", new { area = "", key = tokenKey }, Context.Request.Scheme, Context.Request.Host.ToString()));
}

@section Title {
    Join @Model.business.name at WineCellars.PRO!
}

<p>Please click the button below to verify your email</p>

@await Html.PartialAsync("Email/ButtonPrimary", null, new ViewDataDictionary(this.ViewData) { { "url", confirmationUrl }, { "value", "Click here" } })