@model LeadGen.Code.Lead.LeadItem
<div class="action set_not_interested">
    @Html.ActionLink("Set Not Interested", "ManageOrder", new { leadID = Model.ID, doAction = "SetNotInterested" },
new {
    @class = "btn btn-danger btn-xs",
    data_ajax = "true",
    data_ajax_method = "Post",
    data_ajax_loading = "#LoadingWindowSplash",
    data_ajax_mode = "replace-with",
    data_ajax_update = "#LeadID-" + @Model.ID
})
</div>
