@model LeadGen.Code.Lead.LeadItem
<div class="action set-completed">
    @Html.ActionLink("Set Completed", "ManageOrder", new { leadID = Model.ID, doAction = "SetCompleted" },
new {
@class = "btn btn-success btn-md",
data_ajax = "true",
data_ajax_method = "Post",
data_ajax_loading = "#LoadingWindowSplash",
data_ajax_mode = "replace",
data_ajax_update = "#ActionsForLeadID-" + @Model.ID
})
</div>