@model LeadGen.Code.Lead.LeadItem
<div class="action set_interested">
    @Html.ActionLink("Set Interested", "ManageOrder", new { leadID = Model.ID, doAction = "SetInterested" },
new {
@class = "btn btn-info btn-xs",
data_ajax = "true",
data_ajax_method = "Post",
data_ajax_loading = "#LoadingWindowSplash",
data_ajax_mode = "replace-with",
data_ajax_update = "#LeadID-" + @Model.ID
})
</div>
