@model LeadGen.Code.Lead.LeadItem
<div class="action set_not_interested">
    @Ajax.ActionLink(
        "Неинтересно",
        "ManageOrder",
        new { leadID = Model.ID, doAction = "SetNotInterested" },
        new AjaxOptions { LoadingElementId = "LoadingWindowSplash", HttpMethod = "Post", UpdateTargetId = "LeadID-" + @Model.ID, InsertionMode = InsertionMode.ReplaceWith },
        new {@class= "btn btn-danger btn-xs" }
    )
</div>
