@model LeadGen.Code.Lead.LeadItem
<div class="action get-contacts">
    @Ajax.ActionLink(
        "Получить контакты клиента",
        "ManageOrder",
        new { leadID = Model.ID, doAction = "GetContacts" },
        new AjaxOptions { LoadingElementId = "LoadingWindowSplash", HttpMethod = "Post", UpdateTargetId = "LeadID-" + @Model.ID, InsertionMode = InsertionMode.ReplaceWith },
        new { @class = "btn btn-success btn-md" }
    )

    @if (Model.getFieldByCode("phoneIsAvailableForBusiness").fieldBool)
    {
        <span class="grey">Указаны email и телефон</span>
    }
    else
    {
        <span class="grey">Указан только email</span>
    }
</div>

