@model System.String

@{
    string tokenKey = ViewData["tokenKey"].ToString();
}

<h2>Подтверждение удаления заявки</h2>

<p>Для удаления заявкок связанных с Вашим email перейдите по @Html.ActionLink("этой ссылке", "index", "Token", Context.Request.Scheme, Context.Request.Host.ToString(), null, new { area = "", key = tokenKey }, null)</p>