@model System.String

@{
    string hostName = HttpContext.Current.Request.RequestContext.HttpContext.Request.Url.Host;
    string tokenKey = ViewData["tokenKey"].ToString();
}

<h2>Подтверждение удаления заявки</h2>

<p>Для удаления заявкок связанных с Вашим email перейдите по @Html.ActionLink("этой ссылке", "index", "Token", null, hostName, null, new { area = "", key = tokenKey }, null)</p>