@model LeadGen.Code.Lead.LeadItem

@{
    string token = ViewData["token"].ToString();
}

<h2>Пожалйста оцените работу мастерской</h2>

<p>Пожалйста перейдите по @Html.ActionLink("этой ссылке", "Review", "Order",Context.Request.Scheme, Context.Request.Host.ToString(), null, new { area = "", id = Model.ID, token = token }, null) и оставьте отзыв</p>