@model LeadGen.Code.Lead.LeadItem
@using LeadGen.Code.Lead
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/select2-bootstrap.css" rel="stylesheet" />
<style>
    select option[disabled] {
        display: none;
    }

    #countrySwitchWrapper span {
        cursor: pointer;
        text-decoration: underline;
    }

        #countrySwitchWrapper span:hover {
            text-decoration: underline;
        }

        #countrySwitchWrapper span.active {
            cursor: initial;
            text-decoration: none;
        }

            #countrySwitchWrapper span.active:hover {
                text-decoration: none;
            }
</style>

@{ 
    //Transform all texable fieldtypes to textareas
    foreach (FieldGroup fieldGroup in Model.fieldGroups)
    {
        foreach (FieldItem fieldItem in fieldGroup.fields)
        {
            if (fieldItem.fieldType == FieldType.Textbox)
            {
                fieldItem.fieldType = FieldType.Textarea;
            }
        }
    }
}

<h2>Edit LeadID #@Model.ID</h2>

<div class="row">
    @{
        string formID = "LeadForm";
        @using (Html.BeginForm("Edit", null, null, FormMethod.Post, true, new
        {
            @class = "form",
            id = formID,
            data_ajax = "true",
            data_ajax_loading = "#LoadingWindowSplash",
            data_ajax_mode = "replace",
            data_ajax_update = "#leadData",
            data_ajax_complete = "initializeLeadEditForm"
        }))
        {
            <div class="col-xs-12" id="leadData">
                @Html.EditorFor(x => x)
            </div>

            <div class="col-xs-12">
                <input type="submit" class="btn btn-success" />
            </div>
        }
    }
</div>


@section Scripts
{
    <script src="~/Scripts/select2.min.js"></script>

    <script>
        function initializeLeadEditForm()
        {
            LeadGen.refreshUnobtrusiveValidation('LeadForm');

            //Togle active item item class after checked
            $('.item input[type=checkbox]').click(function () {
                if (this.checked) {
                    $(this).closest(".item").addClass("active");
                } else {
                    $(this).closest(".item").removeClass("active");
                }
            });

            //Style select box suing select2 library
            $('select').select2({
                minimumResultsForSearch: 5
            });


            if (window.mobileAndTabletcheck() == false) {
                $('[data-toggle="popover"]').popover()
            }

            $('.datetimepicker').datetimepicker();

            $('#email').prop('readonly', true);

            LeadGen.ui.scrollToInputValidationError();
        }
        $(document).ready(function () {
            initializeLeadEditForm();
        });
    </script>

}

