@model LeadGen.Code.Login

@using LeadGen.Code.Business


<div class="well well-sm">
    Enter offices where clients can come in 
</div>

<button id="BusinessLocationCreateOpener" type="button" class="btn btn-primary btn-lg">Add Location</button>

<!-- Map Add New Modal -->
<style>
    #BusinessLocationCreateModal .location-meta-fiels {
        display:none;
    }
    #BusinessLocationCreateModal .lg-map {
        height:500px;
    }
</style>
<div id="BusinessLocationCreateModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

@using (Ajax.BeginForm("BusinessLocationCreate", null, null, new AjaxOptions { UpdateTargetId = "BusinessLocationListWrapper", InsertionMode = InsertionMode.Replace, OnSuccess = "businessLocationCreateModalHandler" }, new { @class = "form-horizontal", id = "BusinessLocationCreateForm" }))
{
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add new Location</h4>
            </div>
            <div class="modal-body">

                @Html.Partial("EditorTemplates/Location", new BusinessLocation() { lat = 33.725163, lng = -117.772246, zoom = 10 })

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </div>
}
    </div>
</div>
<script>
    var businessLocationCreateModalHandler = function () {
        $('#BusinessLocationCreateModal').modal('hide');
        LeadGen.ui.showNotificationLabel();
    }
</script>

<!-- Map Edit Existing Modal -->
<div id="BusinessLocationEditModalWrapper"></div>

<div id="BusinessLocationListWrapper">
    @Html.Partial("_LocationsMapList", Model.business.locations)
</div>


