@model LeadGen.Code.Login

@using LeadGen.Code.Business


<div class="well well-sm">
    Enter offices where clients can come in 
</div>

<button id="BusinessLocationCreateOpener" type="button" class="btn btn-primary btn-lg">Add Location</button>

<!-- Map Add New Modal -->
<style>
    #BusinessLocationCreateModal .location-meta-fiels {
        display:none;
    }
    #BusinessLocationCreateModal .lg-map {
        height:500px;
    }
</style>
<div id="BusinessLocationCreateModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        @using (Html.BeginForm("BusinessLocationCreate", null, null, FormMethod.Post, true, new
        {
            @class = "form-horizontal",
            id = "BusinessLocationCreateForm",
            data_ajax = "true",
            data_ajax_update = "#BusinessLocationListWrapper",
            data_ajax_mode = "replace",
            data_ajax_loading = "#LoadingWindowSplash",
            data_ajax_success = "businessLocationCreateModalHandler"
        }))
        {
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add new Location</h4>
                </div>
                <div class="modal-body">
                    @await Html.PartialAsync("EditorTemplates/Location", new LeadGen.Code.Map.Location() {
                           Lat = 33.725163,
                           Lng = -117.772246,
                           Zoom = 10
                       })
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" value="Сохранить" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
</div>

<script>

    var businessLocationCreateModalHandler = function () {
        $('#BusinessLocationCreateModal').modal('hide');
        LeadGen.ui.showNotificationLabel();
    }
</script>

<!-- Map Edit Existing Modal -->
<div id="BusinessLocationEditModalWrapper"></div>

<div id="BusinessLocationListWrapper">
    @await Html.PartialAsync("_LocationsMapList", Model.business.locations)
</div>


