@model LeadGen.Code.Business.NotificationSettings.NotificationEmail
@{ 
    string HTMLelementID = String.Format("NotificationEmail-{0}", Model.address.GetHashCode());
    object routeValues = new { removeEmail = Model.address };
    AjaxOptions ajaxOptions = new AjaxOptions { LoadingElementId = "LoadingWindowSplash", Confirm = "Вы уверены?", UpdateTargetId = HTMLelementID, InsertionMode = InsertionMode.ReplaceWith, HttpMethod = "Post" };
    object htmlAttributes = new { @class = "fa fa-trash btn btn-danger", style = "margin-left: 10px; line-height: inherit;" };
}

<div class="form-group" id="@HTMLelementID">
    <div class="col-md-10 col-md-offset-2">
        @Html.TextBoxFor(x => x.address, new { @class = "form-control pull-left", @readonly = "readonly" })
        @Ajax.ActionLink(" ", "BusinessNotificationEmailAddressRemove", routeValues, ajaxOptions, htmlAttributes)
    </div>
</div>

@if (ViewBag.DeletedStatus == true)
{
    //Remove the Element
    <script>
        $("#@HTMLelementID").fadeOut(function () { $(this).remove(); });
    </script>
}

