@model LeadGen.Code.Lead.Review
<div>
    @if (Model.publishedDateTime == null)
    {
        @await Html.PartialAsync("LeadActionParts/_Publish", Model)
    }
    else
    {
        @await Html.PartialAsync("LeadActionParts/_UnPublish", Model)
    }
</div>