@model LeadGen.Code.Lead.Review
@using LeadGen.Code.Business
@using LeadGen.Code.Lead

@{
    ViewBag.Title = "Edit";
}
<link href="~/Content/bootstrap-star-rating/css/star-rating.min.css" rel="stylesheet" />

<div class="container">

    <h2>Review</h2>
    <hr />

    @using (Html.BeginForm("Edit", null, null, FormMethod.Post, null))
    {
        @Html.HiddenFor(x => x.leadID)
        @Html.HiddenFor(x => x.reviewDateTime)
        @Html.EditorFor(x => x)

        <div class="form-group row">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-success btn-lg" />
            </div>
        </div>

    }
</div>




@section Scripts {
<script src="~/Content/bootstrap-star-rating/js/star-rating.min.js"></script>
<script src="~/Content/bootstrap-star-rating/js/locales/ru.js"></script>
<script>
        $('.rating-input').rating({
            min: 0,
            max: 5,
            step: 1,
            size: 'md',
            language: 'ru',
            //showClear: false
        });

        $("input[name='businessID']").click(function () {
            $("input[name='otherBusiness']").prop('checked', false);
            $("input[name='notCompleted']").prop('checked', false);
            initializeReviewForm();
        });
        $("input[name='otherBusiness']").click(function () {
            $("input[name='businessID']").prop('checked', false);
            $("input[name='notCompleted']").prop('checked', false);
            initializeReviewForm();
        });
        $("input[name='notCompleted']").click(function () {
            $("input[name='otherBusiness']").prop('checked', false);
            $("input[name='businessID']").prop('checked', false);
            initializeReviewForm();
        });

        function initializeReviewForm() {
            if ($("input[name='otherBusiness']").is(':checked')) {
                $(".otherBusinessLabel").hide();
                $(".otherBusinessInput").show();
            } else {
                $(".otherBusinessInput").hide();
                $(".otherBusinessLabel").show();
            }


            if ($("input[name='businessID']").is(':checked') || $("input[name='otherBusiness']").is(':checked')) {
                $(".reviewDetails").show();
            } else {
                $(".reviewDetails").hide();
            }
        }

        initializeReviewForm();
</script>
<script src="~/Scripts/tinymce/tinymce.min.js"></script>
<script>
    //Enable TinyMCE
    tinymce.init({
        /* Конфигурация редактора */
        selector: "#reviewText",
        plugins: [
            "advlist autolink lists link image charmap print preview anchor",
            "searchreplace visualblocks code fullscreen",
            "insertdatetime media table contextmenu paste pagebreak"
        ],
        toolbar: "insertfile undo redo | pagebreak | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
        pagebreak_separator: "<!--more-->",
        ///* https://habrahabr.ru/post/266337/ */
        //setup: function (editor) {
        //    editor.on('NodeChange', function (e) {
        //        if (e.element.nodeName === 'IMG' && e.element.classList.contains('mce-object') === false) {
        //            resizeImage($(e.element), e.width, e.height);
        //        }
        //    });
        //}
    });
</script>
}
