<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=ANTON-SURFACE\SQLEXPRESS;Initial Catalog=LeadGenDB;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection_prod" connectionString="Data Source=tcp:izgpam.database.windows.net,1433;Initial Catalog=izgpam_prod;User ID=ozolin@izgpam.database.windows.net;Password=pass@word1" providerName="System.Data.SqlClient" />
    <add name="WordPress" connectionString="server=localhost;user=ozolin;database=izg_pam_wp;port=3306;password=pass@word1;default command timeout=500" />
    <add name="WordPress_remote" connectionString="server=izgotovleniepamyatnikov.ru;user=izg_pam_wp;database=izg_pam_wp;port=3306;password=BPk7RlEH8T:jk}N;default command timeout=500" />
    <add name="IzgPam_EPESI" connectionString="server=50.87.151.130;user=ozolin_izgpamcrm;database=ozolin_izgpam_crm;port=3306;password=)N{i.&amp;H^vAUX;" />
    <add name="Psychic_EPESI" connectionString="server=epesi.meetpsychic.com;user=ozolin_psyepesi;database=ozolin_psyepesi;port=3306;password=sZ5a_7S*r99y;" />
    <add name="AzureStorageConnection" connectionString="DefaultEndpointsProtocol=https;AccountName=izgpam;AccountKey=1/AiCNnvoXjezc/CXN4YdalRZO0VmvBy9Jst9dB0JCJt88katQqCMyYleyF0h6GQGDJcBEzfTrOiVujbRZsc9g==" />    
  </connectionStrings>
  <appSettings>
    <add key="AzureStorageHostName" value="http://static.izgotovleniepamyatnikov.ru/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Yelp_APP_ID" value="okHrdFrrZM6wH2bGek_IiA" />
    <add key="Yelp_APP_SECRET" value="Mk9mG312TEP2WPwieJ0r9htFly85d6cZuxFj9sEtEJOC5Othvz3YfSjr4F3k9xfJ" />
    <add key="GoogleMapsAPIKey" value="AIzaSyD5_FPZ7IxBSAzQsyAy2rz5ZTpuGEZwiZo" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>