@model LeadGen.Code.Lead.LeadItem
<tr>
    <td>
        <div>
            <strong>#@Model.ID</strong>
        </div>
    </td>
    @Html.DisplayFor(x => x.fieldGroups, Model)
    <td id="ActionForLeadID-@Model.ID">
        @await Html.PartialAsync("_LeadAction", Model)
    </td>
</tr>