@model PagedList.IPagedList<LeadGen.Code.CMS.Post>
@using PagedList.Mvc;
@using LeadGen.Code.CMS;


@{
    CMSContext cmsContext = ViewBag.CMSContext;
    ViewBag.Title = "TermPostList";
}


<h1>@Html.ActionLink(cmsContext.postTypeTaxonomy.taxonomy.name, "Index", new { urlPath = String.Format("{0}/", cmsContext.postType.url) }): @cmsContext.post.title</h1>

@Html.DisplayFor(x => x)

@Html.PagedListPager(Model,
    page => Url.Action("Index", new { urlPath = String.Format("{0}/page/{1}", cmsContext.urlPath, page) }),
    new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, ContainerDivClasses = new string[] { "text-center" } }
)