@model KeyValuePair<Post, List<LeadItem>>
@using LeadGen.Code.CMS;
@using LeadGen.Code.Lead;

@{
    //string tokenKey = ViewData["tokenKey"].ToString();
    Post businessPost = Model.Key;
    List<LeadItem> leads = Model.Value;
    string systemName = Context.Request.Host.Host.ToUpper();
}

<h2>New order(s) availeble</h2>

<p>Hello, @businessPost.title! New leads are availeble at @Html.ActionLink(systemName, "index", "CMS", Context.Request.Scheme, Context.Request.Host.ToString(), null, new { area = "" }, null)</p>

<ul>
    @foreach (LeadItem lead in leads)
    {
        <li>
            Lead #@lead.ID published at @lead.adminDetails.publishedDateTime.Value.ToShortDateString()
        </li>
    }
</ul>