@model LeadGen.Code.Lead.LeadItem
@{
    ViewBag.Title = "Index";
}



<div class="container single-alert-container">
    <div class="single-alert-container-content">
        <h4>Please verify email</h4>
        <p>
            To recieve quotes from wine cellar manufacturers <strong>please click on the link that has just been sent to</strong><br />
            <strong>
                <a href="http://@Model.email.Split('@')[1]" target="_blank">
                    @Model.email.Split('@')[1].ToUpper()
                </a>
            </strong>
            <br /><br />
            A verification link has been sent to <strong>@Model.email</strong> account.
        </p>
    </div>
</div>

<script>
    window.location.hash = "confirm";
    setTimeout(function () {
        var fn = function () {
            window.removeEventListener('hashchange', fn, false);
            window.location.replace(window.location.href.split('#')[0]);
        }
        window.addEventListener('hashchange', fn, false);
    }, 200);
</script>

<style>

</style>