@model LeadGen.Code.Lead.LeadItem

@{
    ViewBag.Title = "ConfirmEmailSuccess";
    string orderLink = Url.RouteUrl("LeadPublic", new { area = "", id = Model.ID }, Context.Request.Scheme);
}

<div class="container">
    <center>
        <h2>You order has been confirmed!</h2>

        <p>
            Here is a link for your references,
            <a href="@orderLink" target="_blank" style="font-size: 18px;">@orderLink</a> <br /><br />
            Businesses will contact you soon with their offers.
        </p>

    </center>
</div>
