@model LeadGen.Code.Lead.LeadItem
@{
    ViewBag.Title = "Index";
    string emailDomain = @Model.email.Split('@')[1];
}



<div class="container single-alert-container">
    <div class="single-alert-container-content">
        <h4>Please verify E-Mail</h4>
        <p>
            To get offers from wine cellar manufacturers 
            <br />
            please click on the link that has just been sent to 
            <br />
            <strong>@Model.email</strong>
            <br /><br />
            <a href="http://@emailDomain" target="_blank" class="btn btn-default">
                Go to @emailDomain.ToUpper()
            </a>
        </p>
    </div>
</div>

<script>
    window.location.hash = "confirm";
    setTimeout(function () {
        var fn = function () {
            window.removeEventListener('hashchange', fn, false);
            window.location.replace(window.location.href.split('#')[0]);
        }
        window.addEventListener('hashchange', fn, false);
    }, 200);
</script>

<style>

</style>