@model LeadGen.Code.Lead.LeadItem

@{
    ViewBag.Title = "ConfirmEmailSuccess";
    string orderLink = Url.RouteUrl("LeadPublic", new { area = "", id = Model.ID }, Context.Request.Scheme);
}

<div class="container single-alert-container">
    <div class="single-alert-container-content">
        <h4>E-Mail Verified Successfully!</h4>
        <p>
            Thank you for submitting your inqury 
            <br />
            Wine cellar profeccianals will now review your order <strong>and respond with they best offers</strong>.
        </p>
    </div>
</div>
