@model LeadGen.Code.Lead.LeadItem
@{
    ViewBag.Title = "Index";
}



<div class="container single-alert-container">
    <div class="single-alert-container-content">
        <h2>Ваша заявка сохранена!</h2>
        <p>
            На Ваш E-mail <strong>@Model.email</strong> <br /><br />
            было отправлено письмо со ссылкой для подтверждения заявки. <br /><br />
            Пожалуйста, подтвердите заявку, перейдя по ссылке <a href="http://@Model.email.Split('@')[1]" target="_blank">в письме</a>.
        </p>
    </div class="single-alert-container-content">
</div>

<script>
    window.location.hash = "confirm";
    setTimeout(function () {
        var fn = function () {
            window.removeEventListener('hashchange', fn, false);
            window.location.replace(window.location.href.split('#')[0]);
        }
        window.addEventListener('hashchange', fn, false);
    }, 200);
</script>

<style>

</style>