@model LeadGen.Code.Lead.LeadItem
@using LeadGen.Code.CMS;
@{
    ViewBag.Title = "Index";
}

@section SEO {
    @{
        SEOFields seo = new SEOFields()
        {
            title = "Order Wine Cellar",
            metaKeywords = "wine cellars, order",
            metaDescription = "Complete wine cellar quote to find best options"
        };
        <partial name="DisplayTemplates/SEOFields" model="seo" />
    }
}
<link href="~/lib/node_modules/select2/dist/css/select2.min.css" rel="stylesheet" />
@*<link href="~/Content/jquery.formstyler.css" rel="stylesheet" />*@
<link href="~/css/select2-bootstrap.css" rel="stylesheet" />
<link href="~/css/order.css" rel="stylesheet" />

<style>
    select option[disabled] {
        display: none;
    }

    #countrySwitchWrapper span {
        cursor: pointer;
        text-decoration: underline;
    }

        #countrySwitchWrapper span:hover {
            text-decoration: underline;
        }

        #countrySwitchWrapper span.active {
            cursor: initial;
            text-decoration: none;
        }

            #countrySwitchWrapper span.active:hover {
                text-decoration: none;
            }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @Html.EditorFor(x => x)
        </div>
    </div>




</div>

@section Scripts
    {
    <script src="~/lib/node_modules/select2/dist/js/select2.min.js"></script>
    <script>
        function initializeLeadForm() {
            if (window.mobileAndTabletcheck() == false) {
                $('[data-toggle="popover"]').popover()
            }

            //Detect validation errors and focus on the input
            LeadGen.ui.navigateToInputValidationError();
        }
        $(document).ready(function () {
            initializeLeadForm();
        });
    </script>

}