@model LeadGen.Code.Lead.LeadItem
@using LeadGen.Code.CMS;
@{
    ViewBag.Title = "Index";
}

@section SEO {
    @{
        SEOFields seo = new SEOFields()
        {
            title = "Order Wine Cellar",
            metaKeywords = "wine cellars, order",
            metaDescription = "Complete wine cellar quote to find best options"
        };
        <partial name="DisplayTemplates/SEOFields" model="seo" />
    }
}

<div class="container body-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="container lead-container">
                @Html.EditorFor(x => x)
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            //initializeLeadForm is defined in ~/Views/Order/EditorTemplates/LeadItem.cshtml
            initializeLeadForm();
        });
    </script>
}