@model LeadGen.Code.Lead.LeadItem
@using LeadGen.Code.CMS;
@{
    ViewBag.Title = "Index";
}

@section SEO {
    @{
        SEOFields seo = new SEOFields()
        {
            title = "Order Wine Cellar",
            metaKeywords = "wine cellars, order",
            metaDescription = "Complete wine cellar quote to find best options"
        };
        <partial name="DisplayTemplates/SEOFields" model="seo" />
    }
}
<link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
@*<link href="~/Content/jquery.formstyler.css" rel="stylesheet" />*@
<link href="~/css/select2-bootstrap.css" rel="stylesheet" />
@if (false && Html.IsDebug())
    {
<link href="~/css/site.css" rel="stylesheet" />
    }

<style>
    select option[disabled] {
        display: none;
    }

    #countrySwitchWrapper span {
        cursor: pointer;
        text-decoration: underline;
    }

        #countrySwitchWrapper span:hover {
            text-decoration: underline;
        }

        #countrySwitchWrapper span.active {
            cursor: initial;
            text-decoration: none;
        }

            #countrySwitchWrapper span.active:hover {
                text-decoration: none;
            }
</style>

<div class="container lead-container">
    @Html.EditorFor(x => x)
</div>

@section Scripts
    {
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            //initializeLeadForm is defined in ~/Views/Order/EditorTemplates/LeadItem.cshtml
            initializeLeadForm();
        });
    </script>
}