@model LeadGen.Code.Lead.LeadItem
@{
    ViewBag.Title = "Index";
}


<div class="form-horizontal">

    <h1 class="title">Заявка на изготовление памятника №@Model.ID</h1>

    <div style="background:none;">
        @for (int i = 0; i < Model.fieldGroups.Count; i++)
        {
            <h3>@Model.fieldGroups[i].title</h3>
            for (int j = 0; j < Model.fieldGroups[i].fields.Count; j++)
            {
                if (!Model.fieldGroups[i].fields[j].isContact)
                {
                    <div>
                        @Html.DisplayFor(x => x.fieldGroups[i].fields[j])
                    </div>
                }
            }
        }
    </div>
</div>
