@model LeadGen.Code.Lead.LeadItem
<div class="well well-sm">
    <p>Сумма заказа <span class="grey">(включая доп. услуги)</span></p>
    <p>@String.Format("{0:0}", Model.businessDetails.orderSum) рублей</p>
    <p>
        <span class="grey">
        Оплата за услуги системы: 
            <span class="label label-primary">@String.Format("{0:0.00}", Model.businessDetails.leadFee)</span> рублей
            (@String.Format("{0:0}", Model.businessDetails.systemFeePercent)%) от стоимости заказа
        </span>
    </p>
</div>