@model LeadGen.Code.Lead.LeadItem
<div class="action get-contacts">

    @Html.ActionLink("Get Contacts", "ManageOrder", new { leadID = Model.ID, doAction = "GetContacts" },
new {
    @class = "btn btn-success btn-md",
    data_ajax = "true",
    data_ajax_method = "Post",
    data_ajax_loading = "#LoadingWindowSplash",
    data_ajax_mode = "replace-with",
    data_ajax_update = "#LeadID-" + @Model.ID
})
</div>

