@model LeadGen.Code.Lead.LeadItem
<div>

    @if (Model.businessDetails.businessCompletedDateTime == null && Model.businessDetails.businessContactReceivedDateTime != null)
    {
        @if (Model.businessDetails.businessImportantDateTime == null)
        {
            @await Html.PartialAsync("LeadActionParts/_SetImportant", Model)
        }
        else
        {
            @await Html.PartialAsync("LeadActionParts/_SetNotImportant", Model)
        }
    }

    @if (Model.businessDetails.businessContactReceivedDateTime != null)
    {
        @await Html.PartialAsync("LeadActionParts/_Contacts", Model)
    }


    @if (Model.businessDetails.businessContactReceivedDateTime == null)
    {
        if (Model.businessDetails.businessNotInterestedDateTime == null)
        {
            @await Html.PartialAsync("LeadActionParts/_SetNotInterested", Model)
        }
        else
        {
            @await Html.PartialAsync("LeadActionParts/_SetInterested", Model)
        }

        if (Model.businessDetails.isPermittedForBusiness)
        {
            @await Html.PartialAsync("LeadActionParts/_GetContacts", Model)
        }
        else
        {
            @await Html.PartialAsync("LeadActionParts/_WaitingApproval", Model)
        }
    }


    @if (Model.businessDetails.businessCompletedDateTime == null && Model.businessDetails.businessContactReceivedDateTime != null)
    {
        @await Html.PartialAsync("LeadActionParts/_SetCompleted", Model)
    }
    else if (Model.businessDetails.businessCompletedDateTime != null)
    {
        @await Html.PartialAsync("LeadActionParts/_Completed", Model)
    }
</div>