@model LeadGen.Code.Login

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Thank you for registration.";
    string emailDomain = Model.email.Split('@')[1];
}

<div class="container single-alert-container">
    <div class="single-alert-container-content">
        <h4>Thank you for registration!</h4>
        <h3>Please confirm your email</h3>
        <p>
            Click on the link that has just been sent to
            <br />
            <strong>@Model.email</strong>
            <br /><br />
            <a href="http://@emailDomain" target="_blank" class="btn btn-default">
                Go to @emailDomain.ToUpper()
            </a>
        </p>
    </div>
</div>