@model IEnumerable<LeadGen.Code.Lead.LeadItem>

<div style="margin:20px 0 20px 0">
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#">All</a></li>
        <li role="presentation"><a href="#">Important</a></li>
    </ul>
</div>


<table class="table">
    @Html.DisplayFor(x => x)
</table>