@model IEnumerable<LeadGen.Code.Lead.LeadItem>

<div style="margin:20px 0 20px 0">
    <a href="#" class="pull-right">
        <span class="label label-default lable-lg">Not interested</span>
    </a>
</div>

<table class="table">
    @Html.DisplayFor(x => x)
</table>