@model LeadGen.Code.Lead.LeadItem
@using LeadGen.Code.Lead
<div>
@if (Model.businessDetails.businessContactReceivedDateTime != null)
{
    List<FieldItem> contactFields = new List<FieldItem>();
    contactFields.Add(new FieldItem() { isContact = true, label = "E-mail", fieldText = Model.email, fieldType = FieldType.Textbox });
    contactFields.AddRange(Model.fieldGroups.SelectMany(x => x.fields).Where(x => x.isContact));
    foreach (FieldItem field in contactFields)
    {
        @Html.Partial("DisplayTemplates/FieldItem", field)
    }
}
</div>