@model LeadGen.Code.Lead.LeadItem
<div>
    @Ajax.ActionLink("Get Contacts", "ManageOrder", new { leadID = Model.ID, doAction = "GetContacts" }, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "ActionForLeadID-" + @Model.ID, InsertionMode = InsertionMode.ReplaceWith })
</div>
