@model LeadGen.Code.Lead.LeadItem
<div id="ActionForLeadID-@Model.ID">
    @Ajax.ActionLink("Get Contacts", "ManageOrder", new { leadID = Model.ID, doAction = "GetLeadContact" }, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "ActionForLeadID-" + @Model.ID, InsertionMode = InsertionMode.ReplaceWith })
</div>