@model LeadGen.Code.Business.Inovice.Invoice

@{
    ViewBag.Title = "Details";
    bool showAct = ViewBag.showAct;
    string isTabActive;
}

<style>
    @@media print {
        .container {
            width:100%;
            margin:0;
            padding:0;
        }
        .head_block {
            display: none;
        }

        .line_head {
            display: none;
        }

        .nav {
            display: none;
        }

        footer {
            display: none;
        }

        hr {
            display: none;
        }

        .invoice_content {
            padding: 10px;
            border: 1px #efefef solid;
        }
    }

    .invoice_content {
        width: 210mm;
        margin-left: auto;
        margin-right: auto;
        font-size: 11pt;
    }

        .invoice_content table.invoice_bank_rekv {
            border-collapse: collapse;
            border: 1px solid;
        }

            .invoice_content table.invoice_bank_rekv > tbody > tr > td, table.invoice_bank_rekv > tr > td {
                border: 1px solid;
            }

        .invoice_content table.invoice_items {
            border: 1px solid;
            border-collapse: collapse;
        }

            .invoice_content table.invoice_items td, table.invoice_items th {
                border: 1px solid;
            }

    .boss_sign {
        position: absolute;
        margin-top: -20px;
        margin-left: 12px;
        width: 270px;
        height: 72px;
    }
</style>


<ul class="nav nav-pills" style="margin:10px 0 10px 0">
    @{ isTabActive = (showAct == false) ? "active" : "";}
    <li role='presentation' class='@isTabActive'>
        @Html.ActionLink("Счёт", "Details", new { legalNumber = Model.legalNumber, legalYear = Model.legalYear})
    </li>
    @if (Model.paidDateTime != null)
    {
        isTabActive = (showAct == true) ? "active" : "";
        <li role='presentation' class='@isTabActive'>
            @Html.ActionLink("Акт", "Details", new { legalNumber = Model.legalNumber, legalYear = Model.legalYear, showAct = true.ToString() })
        </li>
    }
    <li class="pull-right">
        <a href="#" onclick="window.print();" class="btn btn-default"><i class="fa fa-print" aria-hidden="true"></i> Печать</a>
    </li>
</ul>



@if (showAct)
{
    await Html.RenderPartialAsync("Russia/_Act", Model);
}
else
{
    await Html.RenderPartialAsync("Russia/_Invoice", Model);
}

