body {
    padding-top:50px;
}
.panel.taxonomyEditor .terms {
    max-height: 150px;
    overflow-y: auto;
}

#post-edit-page input, 
#post-edit-page select, 
#post-edit-page textarea {
    max-width:none;
}

#post-edit-page .css-editor {
    display: block;
    width: 100%;
}

nav .navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}