
.lead-container {
    max-width: 835px;
}

    .lead-container h1, 
    .lead-container h2, 
    .lead-container h3, 
    .lead-container h4, 
    .lead-container h5 {
        clear: both;
        text-align: center;
    }


    .lead-container .title-group h1 {
        text-transform: uppercase;
        font-family: 'Cinzel', serif;
        letter-spacing: 5px;
        color: #eac47d;
        font-size: 25px;
        font-weight: bold;
    }

    .lead-container .title-group h5 {
        font-family: 'Cinzel', serif;
        font-weight: 400;
        color: #333;
        font-size: 20px;
        margin-bottom: 15px;
    }

    .lead-container .lead_field_group {
        background-color: white;
        padding: 15px 30px;
        margin-bottom: 30px;
        border: 1px solid #eee;
        position: relative;
    }

        .lead-container .lead_field_group h3 {
            font-size: 40px;
            font-weight: 800;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .lead-container .lead_field_group h4 {
            font-size: 35px;
            font-weight: 800;
        }

        .lead-container .lead_field_group .field-option-list {
            background: #fafafa8c;
            padding: 30px;
            padding-bottom: 15px;
            border: 1px solid #eee;
            display: flex;
            justify-content: space-between;
            align-content: space-between;
            position: relative;
        }

    .lead-container .field-validation-error {
        color: red;
        font-weight: bold;
        display: inline-block;
        margin-left: 5px;
    }

    .lead-container .lead_field_group .field-option-list .field-option {
        width: 33.3%;
        text-align: center;
        margin-bottom: 15px;
    }


    .lead-container .lead_field_group .lead-field {
        margin-bottom: 20px;
    }

        .lead-container .lead_field_group .lead-field.lead-field-display .field-option-list {
            justify-content: flex-start;
        }

        .lead-container .lead_field_group .lead-field.lead-field-display .field-option-list {
            justify-content: flex-start;
        }

            .lead-container .lead_field_group .lead-field.lead-field-display .field-option-list .field-option:not(:last-child) {
                margin-right: 20px;
            }




        .lead-container .lead_field_group .lead-field .field-option input[type="checkbox"],
        .lead-container .lead_field_group .lead-field .field-option input[type="radio"] {
            display: none;
        }

        .lead-container .lead_field_group .lead-field .field-option input:not(:checked) + label:hover::before {
            border-color: #9e9e9e2e;
            transition: border-color 0.25s ease-out, background-size 0.5s ease-out;
        }

        .lead-container .lead_field_group .lead-field .field-option input:checked + label::before {
            border-color: #009d0085; /*green*/
            background-size: 130%;
            transition: /* border-color 0.2s ease-in, */ background-size 0.5s ease-in;
        }

        .lead-container .lead_field_group .lead-field .field-option label:hover::before {
            background-size: 130%;
        }

        .lead-container .lead_field_group .lead-field .field-option label {
            text-align: center;
            cursor: pointer;
            font-size: 18px;
            margin-bottom: 0;
        }


            .lead-container .lead_field_group .lead-field .field-option label::before {
                box-sizing: border-box;
                display: block;
                content: " ";
                height: 150px;
                width: 150px;
                max-width: 100%;
                border-radius: 50%;
                border-style: solid;
                border-width: 10px;
                border-color: #f4f4f485;
                background-image: url(../images/order/furniture.jpg);
                background-repeat: no-repeat;
                /*background-size: cover;*/
                background-size: 115%;
                background-position: center;
                background-position-x: 50%;
                background-position-y: 50%;
                box-sizing: content-box;
                transition: border-color 0.25s ease-out, background-size 0.5s ease-out;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 10px;
            }

        .lead-container .lead_field_group .lead-field .field-option.field-option-room label::before {
            background-image: url('../images/order/room.jpg');
        }

        .lead-container .lead_field_group .lead-field .field-option.field-option-cabinet label::before {
            background-image: url('../images/order/cabinet.jpg');
        }

        .lead-container .lead_field_group .lead-field .field-option.field-option-rack label::before {
            background-image: url('../images/order/rack.jpg');
        }

        .lead-container .lead_field_group .lead-field .field-option.field-option-wood label::before {
            background-image: url('../images/order/wood.jpg');
        }

        .lead-container .lead_field_group .lead-field .field-option.field-option-glass_metal label::before {
            background-image: url('../images/order/glass_metal.jpg');
        }

        .lead-container .lead_field_group .lead-field .field-option.field-option-iron_wrought label::before {
            background-image: url('../images/order/iron_wrought.jpg');
        }

        .lead-container .lead_field_group .lead-field .field-option.field-option-furniture label::before {
            background-image: url('../images/order/furniture.jpg');
        }

        .lead-container .lead_field_group .lead-field .field-option.field-option-glasses_bottles label::before {
            background-image: url('../images/order/glasses_bottles.jpg');
        }

        .lead-container .lead_field_group .lead-field .field-option.field-option-decor label::before {
            background-image: url('../images/order/decor.jpg');
        }

        .lead-container .lead_field_group .lead-field .field-option.field-option-residential label::before {
            background-image: url('../images/order/residential.jpg');
        }

        .lead-container .lead_field_group .lead-field .field-option.field-option-business label::before {
            background-image: url('../images/order/business.jpg');
        }

    .lead-container .lead_field_group .lead-field-legal_entity .field-option-list {
        justify-content: space-around;
    }


    .lead-container .lead_field_group .lead-field.lead-field-cellar_type .field-option-list {
        padding-bottom: 70px;
    }

    .lead-container .lead_field_group .lead-field.lead-field-climate_required {
        margin-top: -65px;
        text-align: center;
        position: absolute;
        width: calc(100% - 60px); /*60px = container paddings left+right*/
    }

    .lead-container .lead_field_group .lead-field-climate_required label {
        font-size: 18px;
        vertical-align: middle;
        margin: 0;
        margin-right: 7px;
        cursor: pointer;
    }

    .lead-container .lead_field_group .lead-field-climate_required input[type="checkbox"] {
        width: 25px;
        height: 25px;
        vertical-align: middle;
        padding: 0;
        margin: 0;
        cursor: pointer;
    }

    .lead-container .lead_field_group .lead-field-climate_required .string-value {
        vertical-align: middle;
    }

    .lead-container .lead_field_group .lead-field-cellar_comment textarea {
        padding: 10px 12px !important;
        min-height: 60px;
    }


    .lead-container .lead_field_group .lead-field > label {
        font-size: 14px;
    }

    .lead-container .lead_field_group .lead-field.required > label::after {
        content: "*";
        color: red;
        margin-left: 3px;
    }

@media (max-width: 728px) {
    .lead-container .lead_field_group .lead-field .field-option label, .lead-field-climate_required label {
        font-size: 16px;
    }

        .lead-container .lead_field_group .lead-field .field-option label::before {
            height: 110px;
            width: 110px;
            border-width: 6px;
            margin-bottom: 5px;
        }
}

@media (max-width: 576px) {

    .lead-container {
        padding:0;
    }

    .lead-container .lead_field_group {
        /*margin: 0 -15px 15px -15px;*/
        padding: 15px 15px;
        border-left: none;
        border-right: none;
    }

        .lead-container .lead_field_group h3 {
            font-size: 26px;
        }

        .lead-container .lead_field_group .field-option-list {
            margin: 0 -15px;
            padding: 15px;
            border-left: none;
            border-right: none;
        }

        .lead-container .lead_field_group .lead-field.lead-field-cellar_type .field-option-list {
            padding-bottom: 50px;
        }

        .lead-container .lead_field_group .lead-field.lead-field-climate_required {
            margin-top: -55px;
        }


        .lead-container .lead_field_group .lead-field .field-option label, .lead-field-climate_required label {
            font-size: 14px;
        }

            .lead-container .lead_field_group .lead-field .field-option label::before {
                height: 100px;
                width: 100px;
                border-width: 6px;
                margin-bottom: 5px;
            }

        .lead-container .lead_field_group .lead-field-climate_required input[type="checkbox"] {
            width: 20px;
            height: 20px;
        }
}

@media (max-width: 400px) {
    .lead-container .lead_field_group .lead-field .field-option label::before {
        height: 92px;
        width: 92px;
    }
}

@media (max-width: 360px) {
    .lead-container .lead_field_group .lead-field .field-option label::before {
        height: 75px;
        width: 75px;
        border-width: 6px;
        margin-bottom: 5px;
    }
}




.lead-container input.form-control,
.lead-container select.form-control,
.lead-container textarea.form-control {
    max-width: 100%;
    font-size: 20px;
    line-height: 26px;
    min-height: 45px;
}

.lead-container ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 20px;
    line-height: 26px;
}

.lead-container ::-moz-placeholder { /* Firefox 19+ */
    font-size: 20px;
    line-height: 26px;
}

.lead-container :-ms-input-placeholder { /* IE 10+ */
    font-size: 20px;
    line-height: 26px;
}

.lead-container :-moz-placeholder { /* Firefox 18- */
    font-size: 20px;
    line-height: 26px;
}

.lead-container form .btn {
    min-height: 60px;
    font-size: 21px;
    font-weight: 400;
}

    .lead-container form .btn.btn-black {
        min-width: 50%;
        margin-left: auto;
        margin-right: auto;
    }


.lead-container form input[type=number]::-webkit-inner-spin-button,
.lead-container form input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.lead-container form#LeadConfirationForm .lead-field.blank {
    display: none;
}



.lead-container form#LeadConfirationForm .lead_field_group_contacts h3 {
    margin-bottom: 20px;
}

.lead-container form#LeadConfirationForm .lead-field .field-label {
    margin-bottom: 0;
}

.lead-container form#LeadConfirationForm .lead-field .string-value {
    display: inline;
    font-weight: bold;
    margin-left: 10px;
    font-size: 21px;
}



.lead-container form#LeadConfirationForm .lead_field_group_system_terms .form-group {
    margin-bottom: 0;
}

.lead-container form#LeadConfirationForm .lead_field_group_system_terms label {
    line-height: 25px;
    margin-bottom: 0;
}

.lead-container form#LeadConfirationForm .lead_field_group_system_terms input[type="checkbox"] {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.lead-container form#LeadConfirationForm .lead_field_group_system_terms .field-validation-error {
    vertical-align: middle;
}

.lead-container form#LeadConfirationForm .lead-btn-group {
    position: relative;
    text-align: center;
}

    .lead-container form#LeadConfirationForm .lead-btn-group #GoBackToOrderBtn {
        position: absolute;
        left: 0;
    }

@media (max-width: 576px) {
    .lead-container form .btn,
    .lead-container form .btn-default {
        min-height: initial;
        padding: 10px 10px;
        font-size: 17px;
        font-weight: 400;
    }

        .lead-container form .btn.btn-black {
            min-width: 45%;
        }

    .lead-container h1 {
        font-size: 18px;
        margin-top: 0;
    }

    .lead-container .line-mix {
        margin: 0 auto;
    }

    .lead-container h1, h5 {
        font-size: 18px;
    }
}
