/*@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=latin,cyrillic,cyrillic-ext);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic-ext,latin-ext,cyrillic);*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');
body {
    min-width: 400px;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    line-height: 1.42em;
    background-color: #fbf9f2;
    color: #333;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    color: #000;
    clear: both;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

#LoadingWindowSplash {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.5); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 1s;
    text-align: center;
}

    #LoadingWindowSplash #LoadingWindowSplashImage {
        max-width: 30%;
        position: relative;
        top: 30%;
    }


/* Nav Bar */
.navbar-leadgen {
    z-index: 10;
    height: 80px;
    border: none;
    background-color: black;
    padding-top: 22px;
}
    .navbar-leadgen .navbar-header {
        background-color: black;
    }

    .navbar-leadgen .navbar-collapse > .navbar-nav > li a {
        line-height: 30px;
    }



        .navbar-leadgen .navbar-header > .btn-header-order-wrapper {
            display: inline-block;
        }

/*navbar-brand*/
.navbar-header > .navbar-brand {
    padding: 0;
}
.navbar-header > .navbar-brand > a {
    display: inline-block;
    width: 105px;
    height: 50px;
    background-color: bisque;
}
@media (max-width: 768px) {
    .navbar-header > .navbar-brand > a {
        width: 80px;
        height: 40px;
        background-color: blue;
    }
}
@media (max-width: 576px) {
    .navbar-header > .navbar-brand > a {
        width: 55px;
        height: 20px;
        background-color: red;
    }
}

/*nav menu items font*/
.navbar .navbar-collapse.navbar-collapse-leadgen > .nav-justified > li > a {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    color: white;
}
.navbar .navbar-collapse.navbar-collapse-leadgen > .nav-justified > li.active > a {
    background-color: initial;
}
.navbar .navbar-collapse.navbar-collapse-leadgen > .nav-justified > li > a:hover {
    background-color: initial;
}

@media (min-width: 768px) {
    .navbar-leadgen .navbar-header {
        width: 100%;
    }
        .navbar-leadgen .navbar-header .btn-header-order-wrapper {
            display: none;
            font-size: 13px;
            padding: 10px 15px;
            border: none;
            margin-left: 40px;
        }
        .navbar-leadgen .navbar-header .btn-header-order-wrapper > a {
            font-size: 13px;
            padding: 10px 15px;
            border: none;
            margin-left: 40px;
        }
    .navbar .navbar-collapse.navbar-collapse-leadgen {
        display: inline-block !important;
        float: right;
        width: calc(100% - 95px);
        padding-right: 0;
    }
    .navbar .navbar-collapse.navbar-collapse-leadgen > .nav-justified {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .navbar .navbar-collapse.navbar-collapse-leadgen > .nav-justified::after {
        display: none;
    }
    .navbar .navbar-collapse.navbar-collapse-leadgen > .nav-justified > li {
        display: inline-block;
        width: auto;
    }
}

@media (max-width: 768px) {
    ul.nav.nav-pills.nav-justified {
        text-align: center;
        margin-top: 50px;
    }

    .navbar .navbar-collapse.navbar-collapse-leadgen {
        border-top: none;
    }

    /*Make Order Button Centered*/
    .navbar-leadgen .navbar-header .btn-header-order-wrapper {
        position: absolute;
        left: calc(50% - 60px);
        text-align: center;
    }
        .navbar-leadgen .navbar-header .btn-header-order-wrapper > a {
            padding: 8px 15px;
        }

    .navbar-leadgen {
        height: 60px;
        padding-top: 11px;
    }
        .navbar-leadgen .navbar-toggle {
            margin-top: 0;
        }
}



footer .copyright {
    float: left;
}
footer .btn-login {
    float:right;
}




    /* Set padding to keep content from hitting the edges */
    .body-content {
        padding-left: 15px;
        padding-right: 15px;
    }

    /* Set width on the form input elements since they're 100% wide by default */
    input,
    select,
    textarea {
        max-width: 280px;
    }


    .NotificationLabel {
        position: fixed;
        bottom: 25%;
        right: 0;
        margin-bottom: 0;
        font-size: 1.2em;
        padding: 1em 1.3em;
        z-index: 2000;
    }

    .lg-map {
        height: 100%;
        width: 100%;
        min-height: 400px;
        min-width: 400px;
    }





    .search-header {
        padding: 0;
        width: 230px;
        height: 30px;
        position: relative;
        left: 10px;
    }



    .ThumbnailGrid, .LeadGen-widget {
        clear: both;
    }

    .ThumbnailGrid {
        margin-top: 10px;
    }

        .ThumbnailGrid img.img-responsive {
            width: 100%;
        }

    .borderless td, .borderless th .borderless tbody .borderless thead .borderless tfoot {
        border: none !important;
    }




    iframe {
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


.business-item .title {
    margin-top: 0;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    color: #585858 !important;
}

    /*Ratings*/
    .ratings {
        position: relative;
        display: table;
    }

    .ratings-header {
        display: block;
        margin-top: 15px;
    }

    .ratings .rating-item {
        display: table-row;
        width: 100%;
        vertical-align: baseline;
        height: 25px;
    }

    .ratings .rating-label {
        display: table-cell;
        font-size: 15px;
        vertical-align: bottom;
        width: 70px;
    }

    .ratings .rating-stars {
        display: table-cell;
        vertical-align: bottom;
        text-align: right;
    }

    @media (max-width: 992px) {
        .ratings .rating-item {
            display: block;
            height: auto;
            margin-top: 10px;
        }

        .ratings .rating-label {
            display: block;
        }

        .ratings .rating-stars {
            display: block;
        }
    }

    .masterskaya h1 {
        margin-top: 0;
        font-size: 32px;
        color: #585858;
    }

    .masterskaya h2 {
        margin: 0 0 15px 0;
    }

        .masterskaya h2 a {
            font-size: 24px;
            color: #a74634;
            font-weight: normal;
            text-decoration: underline;
        }

    /*Reviews*/
    .reviews .reviews-title {
        margin-top: 40px;
    }

    .reviews .review-item {
        padding-top: 10px;
    }

        .reviews .review-item .review-author {
            text-align: right;
            color: gray;
            font-style: italic;
        }

  
        .teaser-btn:hover {
            text-decoration: none;
            background-color: #15661e;
            border-color: #398439;
        }

    .under-article-content {
        margin-top: 15px;
    }

    .socialButtons {
        float: right;
        margin-top: 5px;
    }

    @media (max-width: 768px) {
        .socialButtons {
            margin-top: 20px;
        }
    }


    /* Google Maps Styles */
.lg-map-wrapper .pac-input {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 40px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #faffbc;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

        .lg-map-wrapper .pac-input:focus {
            border-color: #4d90fe;
        }

.lg-map-wrapper .pac-container {
    font-family: 'Roboto', sans-serif;
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
}

    .modal {
        z-index: 20;
    }

    .modal-backdrop {
        z-index: 10;
    }



