@model System.String
@{
    ViewBag.Title = "Index";
}
<h2>Пожалуйста подтвердите удаление заявки</h2>
<p>На Ваш E-Mail <strong>@Model</strong> было отправлено письмо со ссылкой для удаления завяки.</p>
<p>Пожалйста, <a href="http://@Model.Split('@')[1]" target="_blank">проверьте Ваш почтовый ящик</a> и перейдите по ссылке в письме для удаления заявок.</p>