@model System.String
@{
    ViewBag.Title = "Cancel";
}
<div class="container">
    <center>
        <h2>Заявки удалены</h2>

        <p>
            Заявки удалены
        </p>
    </center>
</div>


