@model LeadGen.Code.Lead.LeadItem
@{
    ViewBag.Title = "Index";
}


<div class="container">
    <center>
        <h2>Ваша заявка сохранена!</h2>

        <p>
            На Ваш E-mail <strong>@Model.email</strong> <br /><br />
            было отправлено письмо со ссылкой для подтверждения заявки. <br /><br />
            Пожалуйста, подтвердите заявку, перейдя по ссылке <a href="http://@Model.email.Split('@')[1]" target="_blank">в письме</a>.
        </p>
    </center>
</div>