@model IEnumerable<LeadGen.Code.Lead.LeadItem>
@using LeadGen.Code.Lead

@{
    BusinessDetails.Status status = ViewBag.status;
    string isActive;
}

<div style="margin:10px 0 10px 0">
    <ul class="nav nav-pills">
        @{ isActive = (status == BusinessDetails.Status.ContactReceived) ? "active" : "";}
        <li role='presentation' class='@isActive'>
            @Html.ActionLink("Все", "Orders", new { status = BusinessDetails.Status.ContactReceived })
        </li>
        @{ isActive = (status == BusinessDetails.Status.Important) ? "active" : "";}
        <li role='presentation' class='@isActive'>
            @Html.ActionLink(BusinessDetails.statusDictionary[BusinessDetails.Status.Important], "Orders", new { status = BusinessDetails.Status.Important })
        </li>
    </ul>
</div>


<table class="table">
    @Html.DisplayFor(x => x)
</table>