@model IEnumerable<LeadItem>
@using LeadGen.Code.Lead

@{
    BusinessDetails.Status status = ViewBag.status;
}

<div class="pull-right" style="margin:10px 0 10px 0">
    <ul class="nav nav-pills">
        @if (status != BusinessDetails.Status.NotInterested)
        {
            <li role='presentation'>
                @Html.ActionLink(BusinessDetails.statusDictionary[BusinessDetails.Status.NotInterested], "Orders", new { status = BusinessDetails.Status.NotInterested })
            </li>
        }
        else
        {
            <li role='presentation'>
                @Html.ActionLink(BusinessDetails.statusDictionary[BusinessDetails.Status.NewForBusiness], "Orders", new { status = BusinessDetails.Status.NewForBusiness })
            </li>
        }
    </ul>
</div>


<table class="table">
    @Html.DisplayFor(x => x)
</table>