@model BusinessLocation
@using LeadGen.Code.Business
<!-- Map Add New Modal -->
<style>
    #BusinessLocationEditModal .location-meta-fiels {
        display: none;
    }
</style>
<div id="BusinessLocationEditModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        @using (Html.BeginForm("BusinessLocationEdit", null, null, FormMethod.Post, true, new
        {
            @class = "form-horizontal",
            id = "BusinessLocationEditForm",
            data_ajax = "true",
            data_ajax_update = "#BusinessLocationListWrapper",
            data_ajax_mode = "replace",
            data_ajax_success = "businessLocationEditModalHandler"
        }))
        {
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Location</h4>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(x => x.locationID)
                    @Html.Partial("EditorTemplates/Location", Model)
                </div>
                <div class="modal-footer">
                    @Html.ActionLink("Delete Location", "BusinessLocationDelete", new { locationId = Model.locationID },
                        new {
                            @class = "btn btn-danger pull-left",
                            data_ajax = "true",
                            data_ajax_method = "Delete",
                            data_ajax_confirm = "Are you sure?",
                            data_ajax_mode = "replace",
                            data_ajax_success = "businessLocationEditModalHandler",
                            data_ajax_update = "#BusinessLocationListWrapper"
                        })
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" value="Сохранить" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
</div>

<script>
    var BusinessLocationEditModalSelector = '#BusinessLocationEditModal';
    //Immediately Show Modal
    $(BusinessLocationEditModalSelector).modal('show').on('shown.bs.modal', function (e) {
        LeadGen.ui.googleMapsActions.refreshMapsInSelector(BusinessLocationEditModalSelector);
    });

    var businessLocationEditModalHandler = function () {
        $(BusinessLocationEditModalSelector).modal('hide');
        LeadGen.ui.showNotificationLabel();
    }
</script>