@model List<BusinessLocation>
@using LeadGen.Code.Business
@if (Model != null && Model.Any())
{
    <h3>Business Locations</h3>
}
@foreach (BusinessLocation location in Model)
{
    <div class="row">
        <div class="col-md-8">
            @Html.Partial("DisplayTemplates/Location", location)
        </div>
        <div class="col-md-4">
            <h3>
                @location.name
                @if (location.isAprovedByAdmin)
                {
                    <span class="label label-success">Approved</span>
                }
                else
                {
                    <span class="label label-warning">Pending Approval</span>
                }

            </h3>
            <p>@location.address</p>
            @Html.ActionLink("Edit Location", "BusinessLocationEdit", new { locationId = location.locationID },
    new {
        @class = "btn btn-default",
        data_ajax = "true",
        data_ajax_method = "GET",
        data_ajax_mode = "replace",
        data_ajax_update = "#BusinessLocationEditModalWrapper"
    })
       )
        </div>
    </div>
    
    <hr />
}