@model List<BusinessLocation>
@using LeadGen.Code.Business
@if (Model != null && Model.Any())
{
    <h3>Business Locations</h3>
}
@foreach (BusinessLocation businessLocation in Model)
{
    <div class="row">
        <div class="col-md-8">
            @await Html.PartialAsync("DisplayTemplates/Location", businessLocation.Location)
        </div>
        <div class="col-md-4">
            <h3>
                @businessLocation.Location.Name
                @if (businessLocation.ApprovedByAdminDateTime == null)
                {
                    <span class="label label-warning">Pending Approval</span>
                }
                else
                {
                    <span class="label label-success">Approved</span>
                }

            </h3>
            <p>@businessLocation.Location.StreetAddress</p>
            @Html.ActionLink("Edit Location", "BusinessLocationEdit", new { locationId = businessLocation.Location.ID },
    new {
        @class = "btn btn-default",
        data_ajax = "true",
        data_ajax_method = "GET",
        data_ajax_mode = "replace",
        data_ajax_update = "#BusinessLocationEditModalWrapper"
    })
        </div>
    </div>
    
    <hr />
}