@model LeadGen.Code.Login
@using LeadGen.Code.CMS;

@{
    ViewBag.Title = "Login";
    ViewBag.cmsContext = new CMSContext(this.ViewContext, CMSContext.PageType.SystemMiniPage);
}

<div class="container">

    <div class="tab-content">

        <div id="section-login" class="tab-pane active">
            @{await Html.RenderPartialAsync("FormLogin", Model);}
            <div>
                @Html.ActionLink("Business registration", "Registration", "Registration", new { Area = "Business" }, new { })
                |
                <a data-toggle="tab" href="#section-forgot-password" aria-expanded="false">Forgot password?</a>
            </div>
        </div>

        <div id="section-forgot-password" class="tab-pane">
            @{await Html.RenderPartialAsync("FormForgotPassword", Model);}
            <a data-toggle="tab" href="#section-login" aria-expanded="false">Login</a>
        </div>

    </div>
</div>