@model Dictionary<Review.Measure, short>
@using LeadGen.Code.Lead
@*~/Content/bootstrap-star-rating/examples/index.html*@
@{
    string measureScoresName = Html.NameForModel();
    Dictionary<Review.Measure, string> measureNames = ViewData["measureNames"] as Dictionary<Review.Measure, string>;
    int maxStars = 5;
    int maxRatingValue = 10;
    foreach (KeyValuePair<Review.Measure, short> item in Model)
    {
        int fullStars = (int)Math.Truncate((decimal)(item.Value / (maxRatingValue / maxStars)));
        bool hasHalfStar = item.Value % (maxRatingValue / maxStars) != 0;
        string displayMeasureName = (measureNames != null && measureNames.ContainsKey(item.Key)) ? measureNames[item.Key] : item.Key.ToString();
        decimal starNumber = (decimal)item.Value / (decimal)2;
        @*
        <div class="rating-item">
            <span class="rating-label">@displayMeasureName</span>
            <input type="hidden" class="rating-input" value="@starNumber" />
        </div>
        *@

        <div class="rating-item">
            <span class="rating-label">@displayMeasureName</span>
            <span class="rating-stars">
                @for (int i = 0; i < maxStars; i++)
                {
                    if (fullStars > 0)
                    {
                        <img src = "/Content/themes/izgpam/rating-stars/star_full.png" />
                    }
                    else if (hasHalfStar)
                    {
                        <img src="/Content/themes/izgpam/rating-stars/star_half.png" />
                    }
                    else
                    {
                        <img src="/Content/themes/izgpam/rating-stars/star_empty.png" />
                    }
                    if (fullStars > 0)
                    {
                        fullStars--;
                    }
                    else if (hasHalfStar)
                    {
                        hasHalfStar = false;
                    }
                }
            </span>
        </div>
    }
}