@model LeadGen.Code.Lead.LeadItem
@{
    ViewData.TemplateInfo.HtmlFieldPrefix = "";
}
    <div class="lead-field lead-field-email form-group required form-group">
        @Html.LabelFor(x => x.email, "E-mail")
        @Html.ValidationMessageFor(x => x.email)
        @Html.TextBoxFor(x => x.email, new { @class = "form-control", placeholder = "mail@mail.com", type = "email" })
    </div>