@model List<LeadGen.Code.CMS.PostType>
@using LeadGen.Code.CMS;

<div>
    <h4>Post Types</h4>
    <ul class="nav nav-pills nav-stacked">
        @foreach (var type in Model)
        {
            string className = ViewBag.activePostTypeID == type.ID ? "active" : "";
            <li class="@className">@Html.ActionLink(type.name, "PostList", new { typeID = type.ID })</li>
        }
    </ul>

</div>

