
@{
    ViewBag.Title = "Cache";
}

<h2>Cache</h2>

@using (Ajax.BeginForm("clearCacheUrl", null, null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "LeadGen.ui.showNotificationLabel" }, new { @class = "form-horizontal"}))
{
<div class="form-group">
    @Html.Label("URL to update cache", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBox("url", ViewBag.url as string, new { @class = "form-control", placeholder = Request.Url.AbsoluteUri })
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Clear URL" class="btn btn-primary" />
    </div>
</div>
}


@Ajax.ActionLink("Clear All Cache", "clearCacheAll", null, new AjaxOptions { HttpMethod = "POST", LoadingElementId = "LoadingWindowSplash", OnSuccess = "LeadGen.ui.showNotificationLabel" }, new { @class= "btn btn-danger"})