@model LeadGen.Code.Business.Business

@{
    ViewBag.Title = "Permissions";
}

<h2>@Html.ActionLink("Business #" + @Model.ID, "Details", new { ID = Model.ID }): <strong>@Model.name</strong></h2>
<h3>Lead Permissions</h3>

<hr />

<table class="table">
    <tr>
        <th>ID</th>
        <th>Status</th>
        <th>Requested Date</th>
        <th>Approved Date</th>
        <th>Terms</th>
    </tr>
    @Html.EditorFor(x => x.leadPermissions, new { businessID = Model.ID})
</table>


