<!-- Button -->
    <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
        <tr>
            <td align="center" style="padding-top:30px;">
                <table width="140" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="text-button" style="background:#ee817a; color:#ffffff; font-family:'Fira Mono', Arial,sans-serif; font-size:14px; line-height:18px; text-align:center;">
                            <a href="@ViewData["url"]" target="_blank" class="link-white" style="display:block; color:#ffffff; text-decoration:none; padding:12px;">
                                <span class="link-white" style="color:#ffffff; text-decoration:none;">@ViewData["value"]</span>
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
<!-- END Button -->