<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://izgpam.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>izgpam.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>izgpam</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$izgpam</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AzureStorageConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=izgpam;AccountKey=1/AiCNnvoXjezc/CXN4YdalRZO0VmvBy9Jst9dB0JCJt88katQqCMyYleyF0h6GQGDJcBEzfTrOiVujbRZsc9g==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureStorageConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=izgpam;AccountKey=1/AiCNnvoXjezc/CXN4YdalRZO0VmvBy9Jst9dB0JCJt88katQqCMyYleyF0h6GQGDJcBEzfTrOiVujbRZsc9g==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:izgpam.database.windows.net,1433;Initial Catalog=izgpam_prod;User ID=ozolin@izgpam.database.windows.net;Password=pass@word1" Name="Data Source=tcp:izgpam.database.windows.net,1433;Initial Catalog=izgpam_prod;User Id=ozolin@izgpam.database.windows.net;Password=pass@word1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=ANTON-SURFACE\SQLEXPRESS;Initial Catalog=LeadGenDB;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=ANTON-SURFACE\SQLEXPRESS;Initial Catalog=LeadGenDB;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureStorageConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:izgpam.database.windows.net,1433;Initial Catalog=izgpam_prod;User Id=ozolin@izgpam.database.windows.net;Password=pass@word1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>