@model LeadGen.Code.Login

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Thank you for registration.";
}

<h2>Thank you for registration!</h2>
<h3>Please confirm your email</h3>

<p>The confirmation E-Mail was sent to: <strong>@Model.email</strong></p>
<p>Please check <a href="http://@Model.email.Split('@')[1]" target="_blank">your mailbox</a> and click the conformation link.</p>