@model LeadGen.Code.Lead.LeadItem

@{
    string formID = "LeadForm";
}
@using (Html.BeginForm("Index", null, null, FormMethod.Post, true, new
{
    @class = "form-horizontal",
    id = formID,
    data_ajax = "true",
    data_ajax_loading = "#LoadingWindowSplash",
    data_ajax_mode = "replace-with",
    data_ajax_update = "#" + formID,
    data_ajax_complete = "( function() { LeadGen.refreshUnobtrusiveValidation(" + formID + "); } )"
}))
{
    <h2>Please fill the form</h2>
    @Html.EditorFor(x => x.fieldGroups)

    <div class="form-group">
        @Html.LabelFor(x => x.email, "E-mail")
        @Html.TextBoxFor(x => x.email, new { @class = "form-control", placeholder = "mail@mail.ru" })
        @Html.ValidationMessageFor(x => x.email)
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Next</button>
        </div>
    </div>
}

<script>
    if (typeof (initializeLeadForm) == "function") {
        initializeLeadForm();
    }
</script>
