@model LeadGen.Code.Lead.LeadItem

@{
    string formID = "LeadCreationForm";
}
@using (Html.BeginForm("Index", "Order", null, FormMethod.Post, true, new
{
    id = formID,
    data_ajax = "true",
    data_ajax_loading = "#LoadingWindowSplash",
    data_ajax_mode = "replace-with",
    data_ajax_update = "#" + formID,
    data_ajax_success = "onLeadFormSubmit(data, status, xhr)"
}))
{
    @Html.AntiForgeryToken()

    <div class="title-group">
        <h1>Order Wine Cellar</h1>
        <p class="line-mix line-mix-f star-group">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </p>
        <h5>Get the best offers from wine cellar manufacturers</h5>

    </div>

    @Html.EditorFor(x => x.fieldGroups, new { leadItem = Model })

    <div class="form-group">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-black">Order Wine Cellar</button>
        </div>
    </div>
    <script>
        if (window.location.hash) {
            window.location.hash = "";
            LeadGen.ui.scrollToLeadForm();
        }
        function initializeLeadForm() {
            if (window.mobileAndTabletcheck() == false) {
                $('[data-toggle="popover"]').popover()
            }

            var pricefieldRange = document.getElementsByClassName("lead-field-price_range")[0];
            if (pricefieldRange) {
                var priceInput = pricefieldRange.querySelector("select");
                if (!priceInput.value) {
                    var defaultOption = priceInput.children[2];
                    priceInput.value = defaultOption.value;
                }
            }
            //Detect validation errors and focus on the input
            LeadGen.ui.scrollToInputValidationError();
        }
        onLeadFormSubmit = function (data, status, xhr) {
            $form = $($.parseHTML(data.trim()));
            var errors = $form.find('.input-validation-error,.field-validation-error');
            if ($form[0].id === '@formID' && errors.length > 0) {
                // has validation errors, initialize again
                initializeLeadForm();
            } else if ($form[0].id != '@formID') {
                // navigating from revire back to lead creation
                LeadGen.ui.scrollToLeadForm();
            }
        };
    </script>
}