@model X.PagedList.IPagedList<LeadGen.Code.CMS.Post>
@using X.PagedList.Mvc.Common
@using X.PagedList.Mvc.Core
@using LeadGen.Code.CMS

@{
    CMSContext cmsContext = ViewBag.CMSContext;
    @section SEO{@{ Html.RenderPartial("DisplayTemplates/SEOFields", cmsContext.post.SEO); }}
    @section CustomCSS{@{Html.RenderPartial("DisplayTemplates/CustomCSS", cmsContext.post.customCSS);}}
}

<h1>@cmsContext.post.title</h1>

@Html.Raw(cmsContext.post.contentMain)

@Html.DisplayFor(x => x)

@Html.PagedListPager(Model,
    page => Url.Action("Index", new { urlPath = String.Format("{0}/page/{1}", cmsContext.urlPath, page) }),
    new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, ContainerDivClasses = new string[] { "text-center" } }
)