@model LeadGen.Code.CMS.CMSContext

@{
    @section SEO{@{ Html.RenderPartial("DisplayTemplates/SEOFields", Model.post.SEO); }}
    @section CustomCSS{@{Html.RenderPartial("DisplayTemplates/CustomCSS", Model.post.customCSS);}}
}


<h1>@Html.ActionLink(Model.postTypeTaxonomy.taxonomy.name, "Index", new { urlPath = String.Format("{0}/", Model.postType.url) }): @Model.post.title</h1>

@Html.DisplayFor(x => x.postList)