@model LeadGen.Code.CMS.CMSContext

@{
    ViewBag.Title = "TermPostList";
}


<h1>@Html.ActionLink(Model.postTypeTaxonomy.taxonomy.name, "Index", new { urlPath = String.Format("{0}/", Model.postType.url) }): @Model.post.title</h1>

@Html.DisplayFor(x => x.postList)