
@{
    ViewBag.Title = "error";
}

<div class="container single-alert-container">
    <div class="single-alert-container-content">
        <h4>System Error</h4>
        <p>
            You might have already confirmed your email
        </p>
    </div>
</div>