@model LeadGen.Code.Lead.LeadItem
<div>
    @if (Model.businessDetails.businessContactReceivedDateTime != null)
    {
        @await Html.PartialAsync("LeadActionParts/_Contacts", Model)
    }
    else if (Model.businessDetails.isPermittedForBusiness == false)
    {
        @await Html.PartialAsync("LeadActionParts/_WaitingApproval", Model)
    }

    @if (Model.businessDetails.businessCompletedDateTime != null)
    {
        @await Html.PartialAsync("LeadActionParts/_Completed", Model)
    }
</div>