@model LeadGen.Code.Business.BusinessLocation
@using LeadGen.Code.Business
@{ 
    string locationDetailsElementId = "locationDetailsForMapId_" + Model.Location.ID;
}
<div id="@locationDetailsElementId">
    <h3>
        @Model.Location.Name
        @if (Model.ApprovedByAdminDateTime == null)
        {
            <span class="label label-warning">Pending Approval</span>
        }
        else
        {
            <span class="label label-success">Approved</span>
        }
    </h3>
    <p>@Model.Location.StreetAddress</p>
    @Html.ActionLink(Model.ApprovedByAdminDateTime == null ? "Approve" : "Cancel Approval", "BusinessLocationApproval", null, new { businessID = Model.BusinessID, locationID = Model.Location.ID, approve = (Model.ApprovedByAdminDateTime == null) },
         new
         {
             @class = "btn " + (Model.ApprovedByAdminDateTime == null ? "btn-success" : "btn-danger" ),
             data_ajax = "true",
             data_ajax_method = "POST",
             data_ajax_loading = "#LoadingWindowSplash",
             data_ajax_success = "LeadGen.ui.showNotificationLabel('Saved')",
             data_ajax_mode = "replace-with",
             data_ajax_update = "#"+ locationDetailsElementId
         })
</div>