@model LeadGen.Code.Business.BusinessLocation
@using LeadGen.Code.Business
@{ 
    string locationDetailsElementId = "locationDetailsForMapId_" + Model.locationID;
}
<div id="@locationDetailsElementId">
    <h3>
        @Model.name
        @if (Model.isAprovedByAdmin)
        {
            <span class="label label-success">Approved</span>
        }
        else
        {
            <span class="label label-warning">Pending Approval</span>
        }
    </h3>
    <p>@Model.address</p>
    @Html.ActionLink(Model.isAprovedByAdmin ? "Cancel Approval" : "Approve", "BusinessLocationApproval", null, new { businessID = Model.businessID, locationID = Model.locationID, approve = !Model.isAprovedByAdmin },
         new
         {
             @class = "btn " + (Model.isAprovedByAdmin ? "btn-danger" : "btn-success"),
             data_ajax = "true",
             data_ajax_method = "POST",
             data_ajax_loading = "#LoadingWindowSplash",
             data_ajax_success = "LeadGen.ui.showNotificationLabel",
             data_ajax_mode = "replace-with",
             data_ajax_update = "#"+ locationDetailsElementId
         })
</div>