@model LeadGen.Code.Business.Business
@using LeadGen.Code.Business

@{
    ViewBag.Title = "Business Locations";
}

<h2>@Html.ActionLink("Business #" + @Model.ID, "Details", new { ID = Model.ID }): <strong>@Model.name</strong></h2>
<h3>Business Locations</h3>

<hr />

@foreach (BusinessLocation businessLocation in Model.locations)
{
    <div class="row">
        <div class="col-md-8">
            @await Html.PartialAsync("DisplayTemplates/Location", businessLocation.Location)
        </div>
        <div class="col-md-4">
            @await Html.PartialAsync("_LocationDetails", businessLocation)
        </div>
    </div>

    <hr />
}

