@model LeadGen.Code.Lead.FieldItem
@{
    string labelToDisplay = Model.label.Replace("Your ", "");
}
@if (string.IsNullOrEmpty(@Model.stringValue) == false)
{
    <div class="lead_field lead_field_@Model.code">
        <span class="grey">@labelToDisplay:</span> @Model.stringValue
    </div>
}

