@model LeadGen.Code.Lead.Review
<div>
    @Html.ActionLink("Publish", "Manage", null, new { leadID = Model.leadID, doAction = "Publish" }, new
{
    @class = "btn btn-primary pull-right",
    data_ajax = "true",
    data_ajax_method = "POST",
    data_ajax_loading = "#LoadingWindowSplash",
    data_ajax_mode = "replace",
    data_ajax_update = "#ActionForLeadID-" + @Model.leadID
})
</div>
