@model LeadGen.Code.CMS.PostTypeTaxonomy
@using LeadGen.Code.Taxonomy

@if (Model.taxonomy.termList.Count > 0)
{
    if (string.IsNullOrEmpty(ViewData["typeURL"] as string) == false)
    {
        Model.postType.url = (string)ViewData["typeURL"];
    }
    if (ViewData["termsOnly"] == null || (bool)ViewData["termsOnly"] == false)
    {
        <span>
            @Html.ActionLink(Model.taxonomy.name, "Index", new { urlPath = String.Format("{0}/", Model.postType.url) }):
        </span>
    }
    int i = 0;
    foreach (Term term in Model.taxonomy.termList)
    {
        i++;
        string termUrl = HttpUtility.UrlDecode(Url.Action("Index", "CMS", new { urlPath = String.Format("{0}/{1}/", Model.postType.url, term.termURL) , area = "" }));
        string termName = (string)ViewData["termPrefix"] + term.name;
        <a href="@termUrl">@termName</a>
        if (i < Model.taxonomy.termList.Count)
        {
            <text>, </text>
        }
    }
}
