@model LeadGen.Code.CMS.PostTypeTaxonomy
@using LeadGen.Code.Taxonomy

@if (Model.taxonomy.termList.Count > 0)
{
    if (string.IsNullOrEmpty(ViewData["typeURL"] as string) == false)
    {
        Model.postType.url = (string)ViewData["typeURL"];
    }
    if (ViewData["termsOnly"] == null || (bool)ViewData["termsOnly"] == false)
    {
        <span>
            @Html.ActionLink(Model.taxonomy.name, "Index", new { urlPath = String.Format("{0}/", Model.postType.url) }):
        </span>
    }

    int i = 0;
    foreach (Term term in Model.taxonomy.termList)
    {
        i++;
        MvcHtmlString termLink = Html.ActionLink((string)ViewData["termPrefix"] + term.name, "Index", new { urlPath = String.Format("{0}/{1}/", Model.postType.url, term.termURL) });
        termLink = new MvcHtmlString(String.Format("{0}{1}", termLink, (i < Model.taxonomy.termList.Count) ? ", " : ""));
        @termLink
    }
}
