@model LeadGen.Code.Taxonomy.Taxonomy
@using LeadGen.Code.Taxonomy

@if (Model.termList != null && Model.termList.Count > 0)
{
    if (ViewData["termsOnly"] == null || (bool)ViewData["termsOnly"] == false)
    {
        <span>@Model.name</span><text>:</text>
    }
    int i = 0;
    foreach (Term term in Model.termList)
    {
        i++;
        //IHtmlContent termLink = Html.ActionLink((string)ViewData["termPrefix"] + term.name, "Index", new { urlPath = String.Format("{0}/{1}/", Model.typeURL, term.termURL) });
        IHtmlContent termLink = new HtmlString((string)ViewData["termPrefix"] + term.name);

        termLink = new HtmlString(String.Format("{0}{1}", termLink, (i < Model.termList.Count) ? ", " : ""));
        @termLink
    }
}
