@model LeadGen.Code.CMS.Post
    <div class="title-group line-double">
        @if (Model.forTermID == null)
        {
            <h5>WineCellars.PRO</h5>
        }
        <h1>@Model.title</h1>
        <p class="line-mix star-group">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </p>
    </div>