@model LeadGen.Code.CMS.Post
@{
    bool showBorder = false;
    bool showSiteName = true;
    string content = null;
    string title = Model.title;

    if (Model.postType.forTaxonomyID != null)
    {
        showBorder =  Model.forTermID == null ? false : true;
    }

    if (Model.postType.url == "companies" && Model.forTermID != null)
    {
        title = "Companies in " + Model.title;
    }
}
<div class="title-group row @(showBorder ? "line-double" : "")">
    @if (showSiteName)
    {
        <h5>WineCellars.PRO</h5>
    }
    <h1>@title</h1>
    <p class="line-mix star-group">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
    </p>
    @Html.Raw(content)
</div>