@model LeadGen.Code.CMS.Post
@{
    bool showBorder = true;
    bool showSiteName = true;
    string content = null;
    string title = Model.title;
}
<div class="title-group @(showBorder ? "line-double" : "")">
    @if (showSiteName)
    {
        <h5>WineCellars.PRO</h5>
    }
    <h1>@title</h1>
    <p class="line-mix star-group">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
    </p>
    @Html.Raw(content)
</div>