@model IEnumerable<LeadGen.Code.Business.Business>
@using LeadGen.Code.Business
@using LeadGen.Code.Lead

@{
    ViewBag.Title = "Business Leads Completed Before Current Month";
}

<h2>Business Leads Completed Before Current Month</h2>

<table class="table">
    <thead>
        <tr>
            <td>BusinessID</td>
            <td>BusinessName</td>
            <td>Leads</td>
            <td></td>
        </tr>

    </thead>
    @foreach (Business business in Model)
    {
        <tr>
            <td>@business.ID</td>
            <td>@business.name</td>
            <td>
                @foreach (LeadItem lead in business.leads)
                {
                    <div>
                        @String.Format("Lead #{0}, OrderSum = {1}", lead.ID, lead.businessDetails.orderSum)
                    </div>
                }
            </td>
            <td>
                @using (Html.BeginForm("GenerateForBusiness", null, new { businessID = business.ID }, FormMethod.Post, null, null))
                {
                    <input type="submit" value="Generate Invoice" class="btn btn-default" />
                }
            </td>
        </tr>
    }
</table>

