@model LeadGen.Code.Login

@{
    ViewBag.Title = "Settings";
}

<h2>Admin Settings</h2>
<hr />

<ul class="nav nav-tabs" style="margin-top:20px;">
    <li class="active"><a data-toggle="tab" href="#section-password" aria-expanded="false"><i class="fa fa-asterisk"></i> Password</a></li>
</ul>


<div class="tab-content col-xs-12" style="margin-top:20px;">

    <div id="section-password" class="tab-pane fade active in">
        @Html.EditorFor(x => x, "LoginPassword")
    </div>

</div>