@model LeadGen.Code.Login

@{
    string tokenKey = ViewData["tokenKey"].ToString();
}

<h2>Восстановление пароля</h2>
 
<p>Для восстановления папроля передите по @Html.ActionLink("этой ссылке", "index", "Token", Context.Request.Scheme, Context.Request.Host.ToString(), null, new {area = "", key = tokenKey }, null)</p>