@model LeadGen.Code.Login

@{
    string hostName = HttpContext.Current.Request.RequestContext.HttpContext.Request.Url.Host;
    string tokenKey = ViewData["tokenKey"].ToString();
}

<h2>Восстановление пароля</h2>
 
<p>Для восстановления папроля передите по @Html.ActionLink("этой ссылке", "index", "Token", null, hostName, null, new {area = "", key = tokenKey }, null)</p>