@model LeadGen.Code.Lead.FieldGroup
@if (Model.fields.Where(x => x.isContact == false).Any())
{
    <td>

        @if (Model.code == "dates")
        {
            <div>
                @Html.Label("Заявка от "): @(String.Format("{0} - {1}", ViewBag.adminDetails.createdDateTime.ToShortDateString(), ViewBag.adminDetails.createdDateTime.ToShortTimeString()))
            </div>
            
        }
        


        @for (int i = 0; i < Model.fields.Count; i++)
        {
            if (Model.fields[i].isContact == false)
            {
                @Html.DisplayFor(x => x.fields[i])
            }
        }
    </td>
}
