@model LeadGen.Code.Lead.LeadItem
<div>
    @Html.ActionLink("Get Contacts", "ManageOrder", new { leadID = Model.ID, doAction = "GetContacts" },
new {
data_ajax = "true",
data_ajax_method = "Post",
data_ajax_loading = "#LoadingWindowSplash",
data_ajax_mode = "replace-with",
data_ajax_update = "#ActionForLeadID-" + @Model.ID
})
</div>
